<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://telemetry-data-processor-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/90f059b4-4350-4067-88cd-6ef17c8f61dd/resourceGroups/telemetry-collection-test/providers/Microsoft.Web/sites/telemetry-data-processor-test</ResourceId>
    <UserName>$telemetry-data-processor-test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://telemetry-data-processor-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>